.task {
    display: flex;
    width: 100%;
    padding: 7px;
    background-color: #ececea;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    align-items: center;
}

.task:hover {
    background-color: #d8d8d6;
}

.task:active {
    background-color: #c9c9c7;
}

.task-title {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-priority {
    width: 15%;
    text-align: center;
}

.task-status {
    width: 15%;
    text-align: center;
}

.task-date {
    width: 30%;
    text-align: center;
}